<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%flash.each do |name, msg|%>
      <%=content_tag :div, msg, id: "flash #{name}"%>
    <%end%>

    <% if current_user %> 
      <div> Hello, <%= current_user.name.capitalize() %></div>

    <%end%>
    
    <div>
      <%if current_user%>
        <%= link_to "Create New Event", new_event_path, class: "button" %><br/>
        <%= link_to "Log Out", session_path(session[:current_user_id]), method: "delete"%><br/>
      <%else%>
        <%= link_to "Log In", new_session_path %><br/>
        <%= link_to "Sign Up", new_users_path %><br/>
      <%end%> 
    </div>
    <br/>
    <%= yield %>
  </body>
</html>
